h1.title {
    color: red;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;

  }

  p {
    font-family: 'Courier New', Courier, monospace;
    text-indent: 50px;
    margin-left: 10px;
  }

  #content {
    background-color: black;
    width: 1500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid red;
  }